[submodule "site-lisp/nunit-emacs"]
	path = site-lisp/nunit-emacs
	url = https://github.com/abend/nunit-emacs.git
[submodule "site-lisp/steam.el"]
	path = site-lisp/steam.el
	url = https://github.com/Kungsgeten/steam.el
[submodule "site-lisp/sln-mode"]
	path = site-lisp/sln-mode
	url = git@github.com:joranvar/sln-mode.git
[submodule "site-lisp/org-jira"]
	path = site-lisp/org-jira
	url = git@github.com:joranvar/org-jira.git
[submodule "site-lisp/gnorb"]
	path = site-lisp/gnorb
	url = git@github.com:joranvar/gnorb.git
